.profile-description {font-size: large;
    text-align: justify;

       
}
.Image-profile {display: block; 
    height: 250px;
width: 350px;
border-radius: 25px;
margin: auto;
}
.skills {font-size: large;}
.Nombre {text-align: center;}